.d-flex.align-items-center.justify-content-between
  %h1 ActiveCards
  = link_to 'New ActiveCard', new_active_card_path, class: 'btn btn-primary'

.row-spacer

- if @active_cards.present?
  = render 'table', active_cards: @active_cards
  -# TODO: = pagination_for @active_cards

- else
  = no_elements_found
