-# locales: (decks:)

%table.table.table-hover
  %thead
    %tr
      %th(style="width: 120px")
      %th Title
      %th Cards
      %th(style="width: 1px")

  %tbody.table-group-divider
    - decks.each do |deck|
      %tr
        %td
          = link_to new_active_card_path(deck_id: deck.id) do
            .btn.btn-primary
              Add Cards
        %td
          = link_to deck
        %td= deck.cards_count
        %td
          = link_to deck_path(deck), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this deck?' }, class: 'text-danger' do
            %i.bi.bi-trash
