- content_for :title, "Editing deck"

%h1 Edit Deck "#{@deck}"

.row-spacer

= render "form", deck: @deck

.row-spacer

%p ActiveCards: #{@deck.cards_count}
= render 'active_cards/table', active_cards: @deck.cards
