- content_for :title, "Decks"

.d-flex.align-items-center.justify-content-between
  %h1 Decks
  = link_to 'New Deck', new_deck_path, class: 'btn btn-primary'

.row-spacer

- if @decks.present?
  = render 'table', decks: @decks
  -# TODO: = pagination_for @decks

- else
  = no_elements_found
