.d-flex.align-items-center.justify-content-between
  %h1 Tests
  = link_to 'Start new test', new_test_path, class: 'btn btn-primary'

.row-spacer

- if @tests.present?
  = render 'table', tests: @tests
  -# TODO: = pagination_for @tests

- else
  = no_elements_found
